[color]
	diff = true
	status = auto
	branch = auto
	ui = true
[user]
	name = Dries Schulten
	email = dries
	sshCommand = ssh -i ~/.ssh/id_git
[core]
	editor = code --wait
	excludesfile = /Users/dries/.gitignore_global
	pager = diff-so-fancy | less --tabs=2 -RFX
[push]
	default = simple
[credential]
	helper = osxkeychain
[alias]
	co = checkout
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status --short --branch
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[merge]
  tool = smerge
[mergetool "smerge"]
  cmd = smerge mergetool "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
  trustExitCode = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[rebase]
	autostash = true
[diff]
	indentHeuristic = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[includeIf "gitdir:~/Projects/Ceratech/"]
  path = ~/.gitconfig-ceratech
[includeIf "gitdir:~/Projects/Cycleon/"]
  path = ~/.gitconfig-cycleon
[includeIf "gitdir:~/Projects/Skyworkz/"]
  path = ~/.gitconfig-skyworkz
[alias]
  prune-local = ! "git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
