[color]
  diff = true
  status = auto
  branch = auto
  ui = true
[user]
  name = Dries Schulten
  email = dries@skyworkz.nl
[core]
  excludesfile = /Users/dries/.gitignore_global
[push]
  default = simple
  autoSetupRemote = true
[credential]
  helper = osxkeychain
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  st = status --short --branch
	prune-local = ! "git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[merge]
  tool = smerge
[mergetool "smerge"]
  cmd = smerge mergetool "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
  trustExitCode = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[rebase]
  autostash = true
[rerere]
  enabled = true
[diff]
  indentHeuristic = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = false
[init]
  defaultBranch = main
[includeIf "gitdir:~/Projects/Skyworkz/"]
  path = ~/.gitconfig-skyworkz
[includeIf "gitdir:~/Projects/H4H/"]
  path = ~/.gitconfig-h4h
[includeIf "gitdir:~/Projects/Default/"]
  path = ~/.gitconfig-default
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = /Users/dries/.ssh/allowed_signers
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
