{{- if eq .chezmoi.os "darwin" -}}
#!/opt/homebrew/bin/fish

grep "/opt/homebrew/bin/fish" /private/etc/shells &>/dev/null || sudo bash -c "echo /opt/homebrew/bin/fish >> /private/etc/shells"
chsh -s /opt/homebrew/bin/fish

if not functions -q fisher
    set -q XDG_CONFIG_HOME; or set XDG_CONFIG_HOME ~/.config
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
end

set -Ux FZF_DEFAULT_OPTS "\
  --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
  --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
  --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"

{{ end -}}
