"*":
  Ensime:
    markImplicitsAutomatically: false
    sbtExec: "/usr/local/bin/sbt"
    typecheckWhen: "save"
  "autoclose-html": {}
  autosave:
    enabled: true
  "browser-plus": {}
  "close-tags": {}
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "styleguide"
      "package-generator"
      "Ensime"
      "atom-typescript"
    ]
    packagesWithKeymapsDisabled: [
      "merge-conflicts"
    ]
    telemetryConsent: "no"
    themes: [
      "native-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 10
    invisibles: {}
    preferredLineLength: 120
    softWrap: true
  "exception-reporting":
    userId: "059ecb2f-29bd-d51c-4583-eaeb4619355f"
  "file-icons":
    forceShow: true
  latex:
    outputDirectory: ".texpadtmp"
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  "remote-atom": {}
  "spell-check":
    grammars: [
      "text.plain"
      "text.tex.latex"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
  wordcount:
    extensions: [
      "tex"
    ]
".Kotlin.source":
  editor:
    preferredLineLength: 120
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 120
".beamer.latex.tex.text":
  editor:
    preferredLineLength: 120
".bibtex.text":
  editor:
    preferredLineLength: 120
".dockerfile.source":
  editor:
    preferredLineLength: 120
".dockerignore.source":
  editor:
    preferredLineLength: 120
".groovy.source":
  editor:
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 120
".js.jsx.react.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".js.source.subtlegradient":
  editor:
    preferredLineLength: 120
".latex.log.text":
  editor:
    preferredLineLength: 120
".latex.memoir.tex.text":
  editor:
    preferredLineLength: 120
".latex.tex.text":
  editor:
    preferredLineLength: 120
".patch.source":
  editor:
    preferredLineLength: 120
".scala.source":
  editor:
    preferredLineLength: 120
".source.ts":
  editor:
    preferredLineLength: 120
".source.tsx":
  editor:
    preferredLineLength: 120
".tex.text":
  editor:
    preferredLineLength: 120
