"*":
  Ensime:
    markImplicitsAutomatically: false
    sbtExec: "/usr/local/bin/sbt"
    typecheckWhen: "save"
  "autoclose-html": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "spell-check"
      "metrics"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "merge-conflicts"
    ]
    themes: [
      "native-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 10
    invisibles: {}
    preferredLineLength: 120
    softWrap: true
  "exception-reporting":
    userId: "059ecb2f-29bd-d51c-4583-eaeb4619355f"
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".beamer.latex.tex.text":
  editor:
    preferredLineLength: 120
".bibtex.text":
  editor:
    preferredLineLength: 120
".groovy.source":
  editor:
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 120
".latex.log.text":
  editor:
    preferredLineLength: 120
".latex.memoir.tex.text":
  editor:
    preferredLineLength: 120
".latex.tex.text":
  editor:
    preferredLineLength: 120
".patch.source":
  editor:
    preferredLineLength: 120
".scala.source":
  editor:
    preferredLineLength: 120
".tex.text":
  editor:
    preferredLineLength: 120
